name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: README.md exists
      id: readme-md-exists
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: README.md exists
        setup-command: ''
        command: "[ -f README.md ]"
        timeout: 1
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        README-MD-EXISTS_RESULTS: "${{steps.readme-md-exists.outputs.result}}"
      with:
        runners: readme-md-exists
